body {
    margin: 0;
}

.winctrlcontainer {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-app-region: drag;
    background-color: #26272b;
    height: 23px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    color: #bbb;
    border-bottom: solid 10px #1d1e23;
}

.winctrlcontainer p {
    opacity: 0.5;
    padding: 3px 0 0 8px;
}

.winctrlbuttonwrapper {
    -webkit-app-region: no-drag;
    width: fit-content;
    float: right;
}

.winctrlbuttonmin {
    height: 23px;
    width: 22px;
    color: #bbb;
    display: inline-block;
    opacity: 0.3;
    text-align: center;
}

.winctrlbuttonmax {
    height: 23px;
    width: 22px;
    color: #bbb;
    display: inline-block;
    opacity: 0.3;
    text-align: center;
}

.winctrlbuttonclose {
    height: 23px;
    width: 22px;
    color: #bbb;
    display: inline-block;
    opacity: 0.3;
    text-align: center;
}

.iconmin {
    width: 11px;
    height: 2px;
    background-color: #bbb;
    margin: auto;
    margin-top: 13px;
}

.iconmax {
    width: 6px;
    height: 5px;
    border: solid 2px #bbb;
    margin: auto;
    margin-top: 7px;
}

.iconclose {
    margin: 5px 0 0 10px;
    position: absolute;
}

.iconcloseX1 {
    width: 2px;
    height: 12px;
    background-color: #bbb;
    transform: rotateY(0deg) rotate(45deg);
    margin: 0;
    display: inline-block;
    position: absolute;
}

.iconcloseX2 {
    width: 2px;
    height: 12px;
    background-color: #bbb;
    transform: rotateY(0deg) rotate(-45deg);
    margin: 0;
    display: inline-block;
}


.winctrlbuttonmin:hover {
    opacity: 1;
    background-color: #313438;
}

.winctrlbuttonmax:hover {
    opacity: 1;
    background-color: #313438;
}

.winctrlbuttonclose:hover {
    opacity: 1;
    background-color: #ff443a;
}

.winctrlbuttonmin:hover > .iconmin {
    background-color: #fff;
}

.winctrlbuttonmax:hover > .iconmax {
    border: solid 2px #fff;
}

.winctrlbuttonclose:hover > .iconcloseX1 {
    border: solid 2px #fff;
}

.winctrlbuttonclose:hover > .iconcloseX2 {
    border: solid 2px #fff;
}